---
layout: home
title: Categories
---

<div class="unit whole single-post-excerpt">
	<h3>Әкемізге арналған жазбалар  &nbsp&nbsp&nbsp | &nbsp&nbsp&nbsp  <a href="/ata.html">фотосуреттер</a> </h3>
	<p class="description">
	{% for post in site.categories.father %}
		<a href="{{ post.url }}">{{ post.title }}</a><br>
	{% endfor %}
	</p>
</div>

<div class="unit whole single-post-excerpt">
	<h3>Шертпе күйлер</h3>
	<p class="description">
	{% for post in site.categories.dombyra %}
		<a href="{{ post.url }}">{{ post.title }}</a><br>
	{% endfor %}
	</p>
</div>

<div class="unit whole single-post-excerpt">
	<h3>Әңгімелер</h3>
	<p class="description">
	{% for post in site.categories.essays %}
		<a href="{{ post.url }}">{{ post.title }}</a><br>
	{% endfor %}
	</p>
</div>
